<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aqualife">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquaLife">

<!--        <activity-->
<!--            android:name=".changewater_plus">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".createacount"/>
        <activity android:name=".home"/>
        <activity android:name=".co2"/>
        <activity android:name=".ph"/>
        <activity android:name=".led"/>
        <activity android:name=".feeding"/>
        <activity android:name=".temparature"/>
        <activity android:name=".changewater"/>
        <activity android:name=".changewater_plus"/>
        <activity android:name=".led_plus" />
        <activity android:name=".co2_plus"/>
        <activity android:name="co2_res"/>
    </application>

</manifest>